html {
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: left;
  height: 100%;

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
