@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="ErrorPage">
    <header>
        <h1>Error!</h1>
    </header>
    <p>An error occurred while processing your request.</p>

    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }

</div>
